body {
  /* background: url(../assets/images/bg.jpg) no-repeat center center fixed; */
  background-color: whitesmoke !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
}

a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.site-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  line-height: 1;
  margin: 0 0 16px;
  text-transform: uppercase;
}

.site-title a {
  background-color: #6302EF;
  color: #fff;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}

.site-title-dark a {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}

.question-container {
  background-color: #fff;
  padding: 20px;
}

.question-title {
  background: url(../assets/images/lines.png) bottom repeat-x;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  line-height: 1;
  margin: 24px 0;
  padding: 24px 0;
  text-align: center;
  text-transform: capitalize;
}

.thumbnail:hover {
  background-color: yellow !important;
}

.thumbnail.chosen {
  background-color: orange !important;
}

#option-img {
  margin-bottom: 5px;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-color: rgba(62, 62, 62, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.result-container-item {
  background: #fff;
  padding: 25px;
  border-radius: 2px;
}

.option-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

.selected-rapper img {
  display: block;
  margin: 20px auto;
}

.fade-enter {
  right: 100px;
}

.fade-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}

.fade-leave {
  right: 0px;
}

.fade-leave-active {
  right: -100px;
  transition: .5s ease-in all;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(99, 2, 239) !important;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.header a{
  color: rgb(99, 2, 239) !important;
}

.candidates-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(99, 2, 239) !important;
  padding: 15px;
  font-size: 24px;
}

.candidates-menu a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(99, 2, 239) !important;
  padding: 15px;
  font-size: 24px;
}

.picture-container{
  display: block;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.candidates-selector{
  display: block;
  align-items: center;
}

.candidates-selector a{
  color: rgb(99, 2, 239) !important;
}

.home-titles {
  line-height: 1;
  text-transform: uppercase;
  padding: 15px;
}

.home-titles a {
  background-color: #6302EF;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 16px;
} 

.home-container {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.home-body a{
  color: black;
  line-height: 1.3;
}

.img-logo {
  display: block;
  margin: 0 0 16px;
  margin-left: auto;
  margin-right: auto;
  width: 300 px;
} 

.logo-background {
  background-color: #6302EF;
}

.know-ballot {
  display: block;
  margin: 0 0 16px;
  margin-left: auto;
  margin-right: auto;
  width: 300 px;
  background-color: #6302EF;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.know-ballot a{
  color: white;
}

.candidates-selector .candidate-preview {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  margin: 0 1em 1em 0;
  max-width: 200px;
  padding: 0;
  position: relative;
  width: 100%;
}

.candidates-selector .candidate-preview img {
  margin: 0;
  width: 100%;
}

.candidate-selector .candidate-preview .name {
  color: #030303;
  display: inline-block;
  font-size: 1.6em;
  overflow: hidden;
  padding: .2em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

h2 {
  font-size: 20px !important;
}

.btn-space {
  margin-right: 10px;
}

.topic {
  font-weight: bold; 
}

.statement {
  margin-bottom: 10px;
  line-height: 17pt;
}

